<div class="sidebar-brand">
  <a href="#" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
    <span class="brand-text fw-light">{{appName}}</span> App
  </a>
</div>
<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
      <li class="nav-item">
        <a routerLink="/main/todo" class="nav-link" routerLinkActive="active">
          <i class="nav-icon bi bi-file-earmark-plus"></i>
          <p>Registrar Todo</p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/main/todos" class="nav-link" routerLinkActive="active">
          <i class="nav-icon bi bi-card-list"></i>
          <p>Listar Todos</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
